body{
    font-family: 'Poppins', sans-serif;
}

.slider:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(29,29,29,0.7);
}



@media (max-width: 576px) {
    .paragraphsize{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .hsize{
        font-size: 20px;
    }

     .imgsize{
       min-height: 250px;
    } 

    .hbutton h2 button{
        font-size: 20px;
    }
    
}